<div class="grid-container">
  <!-- <h1 class="mat-h1">Welcome to the Elder Scrolls for Recursive House</h1> -->
  <mat-toolbar color="primary">
    <div class="width-50">Elder Scrolls Card Game</div>

    <div class="width-50 menu-links">
      <a href="" [routerLink]="'/'">
        <mat-icon>home</mat-icon> Homepage<span></span>
      </a>

      <a href="" [routerLink]="'/cards'">
        <mat-icon>card_membership</mat-icon> <span>Cards List</span>
      </a>
    </div>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
